:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --white: #fff;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;
  --gray-900: #121214;
  --green-300: #00B37E;
  --green-500: #006400;
  --red-500: #F75A68;
}

* {
  margin: 0;
box-sizing: border-box;
padding: 0;
 
}
#root{
  scroll-behavior: smooth;
}
    a {
            text-decoration: none; /* Remove o sublinhado */
            color: inherit; /* Usa a cor padrão do texto */
        }

header{
  background-color: #242424;
  position: fixed; /* Torna o cabeçalho fixo */
  width: 100%; /* Largura total */
  z-index: 1000; /* Z-index alto para garantir que o cabeçalho esteja acima de outros elementos */
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


